
body {
	margin: 0;
	display: block;
}

div {
	outline: 1px solid black;
	margin: 5px;
	padding: 5px;
	overflow: hidden;
}

p {
	margin: 5px;
}

canvas {
	width: 100%;
	height: auto;
	aspect-ratio: 2/1;
	display: block;
	background-color: gray;
}

table {
	border-collapse: collapse;
}
td, th {
	border: 1px solid #000000;
	text-align: left;
	padding: 0px 8px;
}
th {
	cursor: default;
}
td {
	cursor: pointer;
}
tr:nth-child(even) {
	background-color: #EEEEEE;
}
tr:nth-child(odd) {
	background-color: #DDDDDD;
}
.selected {
	background-color: #777777;
}
