@import "tailwindcss";

@theme {
	--font-sans: "Montserrat", sans-serif;
}

@utility container {
	margin-inline: auto;
	padding-inline: 1.5rem;
}

@layer {
	.button-main {
		@apply bg-amber-300 text-xl text-black font-bold px-8 py-2 rounded-lg cursor-pointer
	}
}

.main-section {
	@apply bg-neutral-800 text-white flex items-center justify-center text-center m-auto;
}
.main-section h1 {
	@apply text-3xl bg-neutral-900
}
.main-section h2 {
	@apply text-2xl
}
.main-section button {
	@apply bg-neutral-400 text-xs text-black font-bold px-2 py-1 rounded-lg cursor-pointer justify-start
}
