@import "tailwindcss";

/*
npx tailwindcss -i Client/tailwind.css -o Client/style.css --watch
*/

@theme {
	--font-sans: "Montserrat", sans-serif;
}

/*
@utility container {
	margin-inline: auto;
	padding-inline: 1.5rem;
}

@layer {
	.button-main {
		@apply bg-amber-300 text-xl text-black font-bold px-8 py-2 rounded-lg cursor-pointer;
	}
}



.main-section {
	@apply bg-neutral-800 text-white relative w-full h-full flex flex-1 items-center justify-center text-center;
}
.main-section h1 {
	@apply text-3xl bg-neutral-900;
}
.main-section h2 {
	@apply text-2xl;
}
.main-section button {
	@apply bg-neutral-400 text-xs text-black font-bold px-2 py-1 rounded-lg cursor-pointer justify-start;
}
*/



input {
	@apply bg-neutral-400 px-2 py-1 mx-2 my-1 text-black;
}
button {
	@apply bg-neutral-400 px-2 py-1 mx-2 my-1 text-black font-bold rounded-lg cursor-pointer;
}
label {
	@apply text-white mx-2 my-1;
}



.tab-header-section-preamble {
	@apply flex flex-1 flex-col w-full h-full;
}
.tab-nav-1 {
	@apply bg-neutral-900 px-6 py-6 flex items-center justify-between text-white;
	nav {
		ul {
			@apply flex items-center gap-4;
			li {
				@apply cursor-pointer hover:underline;
			}
		}
	}
}
.tab-nav-2 {
	@apply bg-neutral-800 px-6 py-6 flex items-center justify-between text-white;
	nav {
		ul {
			@apply flex items-center gap-4;
			li {
				@apply cursor-pointer hover:underline;
			}
		}
	}
}

.tab-section {
	@apply bg-neutral-700 text-white w-full h-full flex flex-1 items-center justify-center text-center;
}

.tab-middle {
	@apply h-full flex flex-1 justify-center items-center;
	div {
		@apply bg-neutral-500 text-start;
		h1 {
			@apply bg-neutral-600 p-2 text-white text-center font-bold;
		}
		div {
			/*@apply ;*/
		}
	}
}



.table {
	@apply flex mx-2 my-1;
	table {
		@apply w-full;
		thead {
			@apply bg-neutral-700 flex w-full;
			tr {
				@apply flex w-full gap-2 px-2 text-center;
			}
		}
		tbody {
			@apply bg-neutral-600 flex flex-col overflow-y-scroll;
			tr {
				@apply flex w-full gap-2 px-2 text-center;
			}
		}
		.selected {
			@apply bg-neutral-400;
		}
	}
}


